name: Echo Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  echo-job:
    runs-on: ubuntu-latest
    steps:
      - name: Use Secrets and Variables
        run: |
          echo "Variable: ${{ vars.MY_VARIABLE }}"
          echo "Secret: ${{ secrets.MY_SECRET }}"
